<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>ProjectM</title>
</head>
<body>

<div th:insert="fragments/fragment_employee::employee_top"></div>

<br><br>
<div style="position:relative; text-align: center">
    <p>Do you need get information of employee?
        Insert param for search:</p>
    <form th:action="@{/main/employee}" th:method="post">
        <input type="text" name="getEmp" placeholder="id" required><br><br>
        <input type="submit" value="get employee"/>
    </form><br>
    <form th:action="@{/main/employee}" th:method="post">
        <input type="hidden" name="getAllEmp" value="1">
        <input type="submit" value="get all employee" />
    </form><br>

    <div th:insert="fragments/fragment_for_all::table_style"></div>

    <br>
    <div>
        <table >
            <tr>
                <th>
                    <form style="display: inline" th:action="@{/main/employee}" th:method="post">
                        <input type="hidden" name="getAllEmp" value="2">
                        <input type="submit" value="Sort by id">
                    </form>
                </th>
                <th>
                    <form style="display: inline" th:action="@{/main/employee}" th:method="post">
                        <input type="hidden" name="getAllEmp" value="3">
                        <input type="submit" value="Sort by name">
                    </form>
                </th>
                <th>
                    <form style="display: inline" th:action="@{/main/employee}" th:method="post">
                        <input type="hidden" name="getAllEmp" value="4">
                        <input type="submit" value="Sort by role">
                    </form>
                </th>
                <th>
                    <form style="display: inline" th:action="@{/main/employee}" th:method="post">
                        <input type="hidden" name="getAllEmp" value="5">
                        <input type="submit" value="Sort by access">
                    </form>
                </th>
            </tr>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Role</th>
                <th>Access</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>

            <tr th:each="employee: ${employeeList}">
                <td th:text="${employee.getId()}"></td>
                <td th:text="${employee.getName()}"></td>
                <td th:text="${employee.getRoll(employee.getAuthority())}"></td>
                <td th:text="${employee.getAccess(employee.getEnabled())}"></td>
                <td>
                    <form th:action="@{/main/employee/edit}" th:method="get">
                        <input type="hidden" name="empId" th:value="${employee.getId()}">

                        <input type="submit" value="Edit">
                    </form>
                </td>
                <td>
                    <form th:action="@{/main/employee/delete}" th:method="post">
                        <input type="hidden" name="empId" th:value="${employee.getId()}">
                        <input type="checkbox" required oninvalid="">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>

<div style="position:relative; text-align: center">

</div>
</body>
</html>