<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org" xmlns: lang="en">
<head>
    <meta charset="UTF-8">
    <title>ProjectM</title>
</head>
<body>
<div th:insert="fragments/fragment_employee::employee_top"></div>
<div style="position: relative; text-align: center; color: green"
     th:utext="${messageSuccess}? ${messageSuccess} : '&lt;br /&gt;'"></div>
<div style="position: relative; text-align: center; color: red"
     th:utext="${messageError}? ${messageError} : '&lt;br /&gt;'"></div>
<div style="position: relative; text-align: center">
    <form th:action="@{/main/employee/add}" th:object="${employee}" th:method="post">

        <div th:insert="fragments/fragment_for_all::table_style"></div>

        <table>
            <tr>
                <td>Name</td>
                <td><input th:field="*{name}" required></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input th:field="*{password}" required></td>
            </tr>
            <tr>
                <td>Confirm Password</td>
                <td><input th:field="*{passwordConfirm}" required></td>
            </tr>
            <tr>
                <td>Access</td>
                <td><select th:field="*{enabled}">
                    <option th:each="key:${accessMap.keySet()}"
                            th:value="${key}"
                            th:utext="${accessMap.get(key)}">
                    </option>
                </select></td>
            </tr>
            <tr>
                <td>Role</td>
                <td><select th:field="*{authority}">
                    <option th:each="key:${roleMap.keySet()}"
                            th:value="${key}"
                            th:utext="${roleMap.get(key)}">
                    </option>
                </select></td>
            </tr>
        </table>
        <br>
        <input type="submit" value="ADD EMPLOYEE">
    </form>
</div>

</body>
</html>